@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Libre Franklin", sans-serif;
}

h1, h2 {
  font-family: "Libre Baskerville", serif;
}

.ct-container {
  width: 100%;
  max-width: 920px;
  margin: 0 auto;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .ct-container {
    padding: 0 20px;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .ct-container {
    padding: 0 10px;
  }
}

.ct-orange {
  color: #CB935D;
}

.ct-button {
  display: block;
  width: -moz-max-content;
  width: max-content;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 30px;
  transition: all 0.4s;
  background-color: #1F3044;
  color: #FFFFFF;
  border: 2px solid #CB935D;
}
.ct-button:hover, .ct-button:active, .ct-button:focus {
  background-color: #CB935D;
  color: #FFFFFF;
}

.ct-button-light {
  display: block;
  width: -moz-max-content;
  width: max-content;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 30px;
  transition: all 0.4s;
  background-color: #F2F2F2;
  color: #CB935D;
  border: 2px solid #CB935D;
}
.ct-button-light:hover, .ct-button-light:active, .ct-button-light:focus {
  background-color: #CB935D;
  color: #FFFFFF;
}

.ct-button-light-white {
  display: block;
  width: -moz-max-content;
  width: max-content;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 30px;
  transition: all 0.4s;
  background-color: transparent;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
}
.ct-button-light-white:hover, .ct-button-light-white:active, .ct-button-light-white:focus {
  background-color: #FFFFFF;
  color: #1F3044;
}

.ct-mobile-burger {
  position: fixed;
  top: 30px;
  right: 30px;
  display: none;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #EDEDE4;
  color: #1F3044;
  border-radius: 50%;
  z-index: 9998;
  cursor: pointer;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .ct-mobile-burger {
    display: flex;
  }
}
.ct-mobile-burger i {
  font-size: 26px;
}

.ct-mobile-menu {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(31, 48, 68, 0.95);
  color: #EDEDE4;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  z-index: 9999;
}
.ct-mobile-menu img {
  width: 50px;
  height: auto;
}
.ct-mobile-menu ul {
  margin: 40px 0;
}
.ct-mobile-menu ul li {
  margin: 0 0 10px 0;
}
.ct-mobile-menu ul li a {
  font-family: "Libre Baskerville", serif;
  font-size: 36px;
  font-weight: bold;
}
.ct-mobile-menu ul li a:hover {
  color: #CB935D;
}
.ct-mobile-menu .ct-mobile-menu-icons {
  display: flex;
  justify-content: center;
}
.ct-mobile-menu .ct-mobile-menu-icons a {
  font-size: 30px;
  margin: 10px;
}
.ct-mobile-menu .ct-mobile-menu-close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #EDEDE4;
  color: #1F3044;
  border-radius: 50%;
  margin: 0 auto;
  cursor: pointer;
}
.ct-mobile-menu .ct-mobile-menu-close i {
  font-size: 26px;
}

.ct-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px 0;
  z-index: 9997;
  transition: all 0.4s;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .ct-navbar {
    padding: 15px 0;
  }
}
.ct-navbar a {
  font-size: 16px;
  color: white;
  transition: all 0.4s;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .ct-navbar a {
    font-size: 14px;
  }
}
.ct-navbar .ct-navbar-row {
  display: flex;
  flex-direction: column;
}
.ct-navbar .ct-navbar-row .ct-navbar-logo {
  text-align: center;
  margin-bottom: 10px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .ct-navbar .ct-navbar-row .ct-navbar-logo {
    margin-bottom: 0;
  }
}
.ct-navbar .ct-navbar-row .ct-navbar-logo img {
  width: auto;
  height: 180px;
  transition: all 0.4s;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .ct-navbar .ct-navbar-row .ct-navbar-logo img {
    width: auto;
    height: 120px;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .ct-navbar .ct-navbar-row .ct-navbar-menu {
    display: none;
  }
}
.ct-navbar .ct-navbar-row .ct-navbar-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.ct-navbar .ct-navbar-row .ct-navbar-menu ul li {
  display: inline-flex;
  margin: 0 10px;
}
.ct-navbar .ct-navbar-row .ct-navbar-menu ul li a {
  line-height: normal;
}
.ct-navbar .ct-navbar-row .ct-navbar-menu ul li a:hover {
  color: #CB935D;
}
.ct-navbar .ct-navbar-row .ct-navbar-menu ul li a.ct-navbar-icon {
  font-size: 22px;
}

.ct-navbar-scroll {
  background-color: #1f3044;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  padding: 10px 0;
}
.ct-navbar-scroll .ct-navbar-row {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.ct-navbar-scroll .ct-navbar-row .ct-navbar-logo img {
  width: auto;
  height: 80px;
}
.ct-navbar-scroll .ct-navbar-row .ct-navbar-menu ul li a {
  font-size: 14px;
}
.ct-navbar-scroll .ct-navbar-row .ct-navbar-menu ul li a.ct-navbar-icon {
  font-size: 18px;
}

#ct-hero .ct-slider {
  position: relative;
  min-height: 100vh;
  background-color: #1F3044;
}
#ct-hero .ct-slider .ct-slide {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}
#ct-hero .ct-slider .ct-slide .ct-container {
  text-align: center;
}
#ct-hero .ct-slider .ct-slide .ct-container h1 {
  font-size: 48px;
  line-height: 1.1;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  #ct-hero .ct-slider .ct-slide .ct-container h1 {
    font-size: 32px;
  }
}
#ct-hero .ct-slider .ct-slide .ct-container h2 {
  font-size: 20px;
  letter-spacing: 1.5px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  #ct-hero .ct-slider .ct-slide .ct-container h2 {
    font-size: 16px;
  }
}
#ct-hero .ct-slider .ct-slide .ct-container a.ct-button-light-white {
  margin: 80px auto 0 auto;
}
#ct-hero .ct-slider .ct-slide .ct-container .divider {
  width: 20%;
  height: 1px;
  background-color: #FFFFFF;
  margin: 10px auto;
}
#ct-hero .ct-slider .ct-slide.ct-slide-1 {
  background: linear-gradient(to bottom, rgba(31, 48, 68, 0.9), rgba(31, 48, 68, 0.6)), url("../../assets/images/slide-1.webp");
  background-size: cover;
  background-position: center;
  color: #FFFFFF;
}
#ct-hero .ct-slider .ct-slide.ct-slide-2 {
  background: linear-gradient(to bottom, rgba(31, 48, 68, 0.9), rgba(31, 48, 68, 0.6)), url("../../assets/images/slide-2.webp");
  background-size: cover;
  background-position: center;
  color: #FFFFFF;
}
#ct-hero .ct-slider .ct-slide.ct-slide-3 {
  background: linear-gradient(to bottom, rgba(31, 48, 68, 0.9), rgba(31, 48, 68, 0.6)), url("../../assets/images/slide-3.webp");
  background-size: cover;
  background-position: center;
  color: #FFFFFF;
}
#ct-hero .ct-slider .ct-slider-prev, #ct-hero .ct-slider .ct-slider-next {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.05);
  color: #FFFFFF;
  z-index: 999;
  cursor: pointer;
  transition: all 0.4s;
}
#ct-hero .ct-slider .ct-slider-prev:hover, #ct-hero .ct-slider .ct-slider-next:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
#ct-hero .ct-slider .ct-slider-prev i, #ct-hero .ct-slider .ct-slider-next i {
  font-size: 30px;
}
#ct-hero .ct-slider .ct-slider-prev {
  left: 10px;
}
#ct-hero .ct-slider .ct-slider-next {
  right: 10px;
}
#ct-hero .ct-slider .ct-slider-go-down {
  position: absolute;
  bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.1);
  color: #FFFFFF;
  font-size: 40px;
  z-index: 999;
}

#ct-about {
  position: relative;
  background-color: #F2F2F2;
  color: #000000;
  padding: 80px 0;
}
#ct-about .ct-about-arrow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: #F2F2F2;
  color: #1F3044;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: -120px;
  margin-bottom: 50px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  #ct-about .ct-about-arrow {
    width: 80px;
    height: 80px;
    margin-top: -110px;
  }
}
#ct-about .ct-about-arrow i {
  font-size: 80px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  #ct-about .ct-about-arrow i {
    font-size: 60px;
  }
}
#ct-about h2 {
  font-size: 50px;
  text-align: center;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  #ct-about h2 {
    font-size: 36px;
  }
}
#ct-about h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1.2px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  #ct-about h3 {
    font-size: 12px;
  }
}
#ct-about p {
  width: 100%;
  max-width: 700px;
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
}
#ct-about a.ct-button-light {
  margin: 40px auto 0 auto;
}
#ct-about .ct-about-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 40px 0;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  #ct-about .ct-about-cards {
    grid-template-columns: 1fr;
  }
}
#ct-about .ct-about-cards .ct-about-card {
  background-color: #FFFFFF;
  padding: 30px;
  transition: all 0.4s;
}
#ct-about .ct-about-cards .ct-about-card:hover {
  background-color: #CB935D;
  color: #FFFFFF;
}
#ct-about .ct-about-cards .ct-about-card:hover .ct-about-card-header i {
  color: #FFFFFF;
}
#ct-about .ct-about-cards .ct-about-card .ct-about-card-header {
  display: flex;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 10px;
}
#ct-about .ct-about-cards .ct-about-card .ct-about-card-header i {
  color: #CB935D;
  font-size: 30px;
  margin-right: 10px;
  transition: all 0.4s;
}
#ct-about .ct-about-cards .ct-about-card-featured {
  background: #1F3044;
  color: #FFFFFF;
}

#ct-quote {
  background: linear-gradient(to bottom, #cb935d, rgba(203, 147, 93, 0.6)), url("../../assets/images/ct-quote.webp");
  background-size: cover;
  background-position: center;
  color: #FFFFFF;
  padding: 80px 0;
  text-align: center;
}
#ct-quote img {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  #ct-quote img {
    width: 80px;
    height: auto;
  }
}
#ct-quote h2 {
  font-size: 42px;
  line-height: normal;
  margin-bottom: 40px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  #ct-quote h2 {
    font-size: 24px;
  }
}
#ct-quote a.ct-button {
  margin: 0 auto;
}

#ct-services {
  background-color: #F2F2F2;
  color: #000000;
  padding: 80px 0;
}
#ct-services h2 {
  font-size: 50px;
  text-align: center;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  #ct-services h2 {
    font-size: 36px;
  }
}
#ct-services h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1.2px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  #ct-services h3 {
    font-size: 12px;
  }
}
#ct-services p {
  width: 100%;
  max-width: 700px;
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
}
#ct-services .ct-services-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: 40px 0;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  #ct-services .ct-services-cards {
    grid-template-columns: 1fr;
  }
}
#ct-services .ct-services-cards .ct-services-card {
  display: grid;
  grid-template-columns: 1fr 120px;
  gap: 10px;
  background-color: #EDEDE4;
  padding: 20px;
  transition: all 0.4s;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  #ct-services .ct-services-cards .ct-services-card {
    grid-template-columns: 1fr 100px;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  #ct-services .ct-services-cards .ct-services-card {
    grid-template-columns: 1fr 80px;
  }
}
#ct-services .ct-services-cards .ct-services-card:hover {
  background-color: #1F3044;
  color: #FFFFFF;
}
#ct-services .ct-services-cards .ct-services-card:hover .ct-services-card-icon {
  background-color: #EDEDE4;
  color: #1F3044;
}
#ct-services .ct-services-cards .ct-services-card .ct-services-card-body h3 {
  font-size: 22px;
  text-align: left;
  line-height: normal;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  #ct-services .ct-services-cards .ct-services-card .ct-services-card-body h3 {
    font-size: 20px;
  }
}
#ct-services .ct-services-cards .ct-services-card .ct-services-card-body p {
  font-size: 12px;
  text-align: left;
  margin-bottom: 0;
}
#ct-services .ct-services-cards .ct-services-card .ct-services-card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1F3044;
  color: #F2F2F2;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  transition: all 0.4s;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  #ct-services .ct-services-cards .ct-services-card .ct-services-card-icon {
    width: 100px;
    height: 100px;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  #ct-services .ct-services-cards .ct-services-card .ct-services-card-icon {
    width: 80px;
    height: 80px;
  }
}
#ct-services .ct-services-cards .ct-services-card .ct-services-card-icon i {
  font-size: 40px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  #ct-services .ct-services-cards .ct-services-card .ct-services-card-icon i {
    font-size: 30px;
  }
}
#ct-services a.ct-button-light {
  margin: 0 auto;
}

#ct-process {
  background: linear-gradient(to bottom, #1f3044, rgba(31, 48, 68, 0.8)), url("../../assets/images/ct-process.webp");
  background-size: cover;
  background-position: center;
  color: #FFFFFF;
  padding: 80px 0;
}
#ct-process h2 {
  font-size: 50px;
  text-align: center;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  #ct-process h2 {
    font-size: 36px;
  }
}
#ct-process p {
  width: 100%;
  max-width: 700px;
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
}
#ct-process .ct-process-cards {
  display: flex;
  flex-direction: column;
}
#ct-process .ct-process-cards .ct-process-card {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  width: 100%;
  max-width: 400px;
  background-color: #1F3044;
  padding: 15px;
  border: 1px dashed #CB935D;
  margin-bottom: 15px;
  transition: all 0.4s;
}
#ct-process .ct-process-cards .ct-process-card:hover {
  background-color: #CB935D;
}
#ct-process .ct-process-cards .ct-process-card:hover .ct-process-card-icon {
  background-color: #1F3044;
  color: #CB935D;
}
#ct-process .ct-process-cards .ct-process-card .ct-process-card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #CB935D;
  color: #1F3044;
  font-size: 30px;
  font-weight: bold;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: -40px;
  transition: all 0.4s;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  #ct-process .ct-process-cards .ct-process-card .ct-process-card-icon {
    width: 30px;
    height: 30px;
    font-size: 20px;
    margin-left: 0;
  }
}
#ct-process .ct-process-cards .ct-process-card .ct-process-card-body h3 {
  font-size: 20px;
  line-height: normal;
  margin-bottom: 10px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  #ct-process .ct-process-cards .ct-process-card .ct-process-card-body h3 {
    font-size: 16px;
  }
}
#ct-process .ct-process-cards .ct-process-card .ct-process-card-body p {
  font-size: 14px;
  text-align: left;
  margin-bottom: 0;
}
#ct-process .ct-process-cards .ct-process-card-1 {
  align-self: flex-start;
}
#ct-process .ct-process-cards .ct-process-card-2 {
  align-self: center;
  margin-right: 200px;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  #ct-process .ct-process-cards .ct-process-card-2 {
    margin-right: 100px;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  #ct-process .ct-process-cards .ct-process-card-2 {
    margin-right: 0;
  }
}
#ct-process .ct-process-cards .ct-process-card-3 {
  align-self: center;
  margin-left: 200px;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  #ct-process .ct-process-cards .ct-process-card-3 {
    margin-left: 100px;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  #ct-process .ct-process-cards .ct-process-card-3 {
    margin-left: 0;
  }
}
#ct-process .ct-process-cards .ct-process-card-4 {
  align-self: flex-end;
}

#ct-clients {
  padding: 80px 0;
  background: linear-gradient(to bottom, #cb935d, rgba(203, 147, 93, 0.8)), url("../../assets/images/ct-clients.webp");
  background-size: cover;
  background-position: top center;
  color: #FFFFFF;
}
#ct-clients h2 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 10px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  #ct-clients h2 {
    font-size: 36px;
  }
}
#ct-clients p {
  width: 100%;
  max-width: 700px;
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
}
#ct-clients .ct-clients-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 40px 0;
}
#ct-clients .ct-clients-row img {
  opacity: 0.8;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.4s;
}
#ct-clients .ct-clients-row img:hover {
  opacity: 1;
  transform: scale(1.2);
}
#ct-clients a.ct-button-light-white {
  margin: 0 auto;
}

#ct-news {
  padding: 80px 0;
  background-color: #F2F2F2;
  color: #000000;
}
#ct-news h2 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 10px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  #ct-news h2 {
    font-size: 36px;
  }
}
#ct-news p {
  width: 100%;
  max-width: 700px;
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
}
#ct-news .ct-news-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  #ct-news .ct-news-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  #ct-news .ct-news-cards {
    grid-template-columns: 1fr;
  }
}
#ct-news .ct-news-cards .ct-news-card {
  display: block;
  background-color: #EDEDE4;
  transition: all 0.4s;
}
#ct-news .ct-news-cards .ct-news-card:hover {
  background-color: #1F3044;
  color: #FFFFFF;
}
#ct-news .ct-news-cards .ct-news-card:hover .ct-news-card-header {
  opacity: 1;
}
#ct-news .ct-news-cards .ct-news-card:hover .ct-news-card-body small {
  color: #FFFFFF;
}
#ct-news .ct-news-cards .ct-news-card .ct-news-card-header {
  width: 100%;
  height: 150px;
  opacity: 0.7;
  transition: all 0.4s;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  #ct-news .ct-news-cards .ct-news-card .ct-news-card-header {
    height: 200px;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  #ct-news .ct-news-cards .ct-news-card .ct-news-card-header {
    height: 200px;
  }
}
#ct-news .ct-news-cards .ct-news-card .ct-news-card-body {
  padding: 15px;
  box-sizing: border-box;
}
#ct-news .ct-news-cards .ct-news-card .ct-news-card-body small {
  display: block;
  color: #000000;
  font-size: 10px;
  text-align: right;
  margin: 0 0 10px 0;
  transition: all 0.4s;
}
#ct-news .ct-news-cards .ct-news-card .ct-news-card-body h3 {
  font-family: "Libre Baskerville", serif;
  font-size: 16px;
  line-height: normal;
  margin: 0 0 10px 0;
}
#ct-news .ct-news-cards .ct-news-card .ct-news-card-body p {
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  margin: 0 0 10px 0;
}
#ct-news .ct-news-cards .ct-news-card .ct-news-card-body a {
  display: block;
  width: -moz-max-content;
  width: max-content;
  font-size: 12px;
  font-weight: bold;
  color: #CB935D;
  border: 1px solid #CB935D;
  padding: 3px 15px;
  cursor: pointer;
  transition: all 0.4s;
}
#ct-news .ct-news-cards .ct-news-card .ct-news-card-body a:hover {
  background-color: #CB935D;
  color: #FFFFFF;
}

#ct-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(31, 48, 68, 0.9);
  z-index: 9998;
}

#ct-news-modal {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 80%;
  background-color: #F2F2F2;
  color: #000000;
  padding: 30px;
  overflow-y: scroll;
  z-index: 9999;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  #ct-news-modal {
    width: 80%;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  #ct-news-modal {
    width: 90%;
  }
}
#ct-news-modal .ct-news-modal-close {
  color: #1F3044;
  border: 1px solid #1F3044;
  width: -moz-max-content;
  width: max-content;
  font-size: 20px;
  padding: 0 5px;
  margin: 0 0 20px auto;
  cursor: pointer;
  transition: all 0.4s;
}
#ct-news-modal .ct-news-modal-close:hover {
  background-color: #1F3044;
  color: #FFFFFF;
}
#ct-news-modal small.ct-news-modal-date {
  display: block;
  font-size: 12px;
  background-color: #EDEDE4;
  color: #1F3044;
  padding: 10px;
  margin-bottom: 20px;
}
#ct-news-modal h2.ct-news-modal-title {
  color: #CB935D;
  font-size: 26px;
}
#ct-news-modal p.ct-news-modal-content {
  font-size: 14px;
}

#ct-contact {
  padding: 80px 0;
  background: linear-gradient(to bottom, #1f3044, rgba(31, 48, 68, 0.8)), url("../../assets/images/ct-contact.webp");
  background-size: cover;
  background-position: center;
  color: #FFFFFF;
}
#ct-contact h2 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 0;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  #ct-contact h2 {
    font-size: 36px;
  }
}
#ct-contact .ct-contact-divider {
  width: 80%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 20px auto 30px auto;
}
#ct-contact .ct-contact-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  #ct-contact .ct-contact-row {
    grid-template-columns: 1fr;
  }
}
#ct-contact .ct-contact-row .ct-contact-info img {
  width: 100%;
}
#ct-contact .ct-contact-row .ct-contact-info ul.ct-contact-info-links {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}
#ct-contact .ct-contact-row .ct-contact-info ul.ct-contact-info-links li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-weight: bold;
  color: #FFFFFF;
}
#ct-contact .ct-contact-row .ct-contact-info ul.ct-contact-info-links li a {
  color: #FFFFFF;
  transition: all 0.4s;
}
#ct-contact .ct-contact-row .ct-contact-info ul.ct-contact-info-links li a:hover {
  color: #CB935D;
}
#ct-contact .ct-contact-row .ct-contact-info ul.ct-contact-info-links li i {
  color: #CB935D;
  margin-right: 5px;
  font-size: 16px;
}
#ct-contact .ct-contact-row .ct-contact-form form input, #ct-contact .ct-contact-row .ct-contact-form form textarea {
  display: block;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.05);
  color: #FFFFFF;
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 12px;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 12px;
  transition: all 0.4s;
}
#ct-contact .ct-contact-row .ct-contact-form form input::-moz-placeholder, #ct-contact .ct-contact-row .ct-contact-form form textarea::-moz-placeholder {
  color: #FFFFFF;
}
#ct-contact .ct-contact-row .ct-contact-form form input::placeholder, #ct-contact .ct-contact-row .ct-contact-form form textarea::placeholder {
  color: #FFFFFF;
}
#ct-contact .ct-contact-row .ct-contact-form form input:focus, #ct-contact .ct-contact-row .ct-contact-form form textarea:focus {
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid #cb935d;
}
#ct-contact .ct-contact-row .ct-contact-form form input[type=submit] {
  width: 50%;
  background-color: #CB935D;
  color: #FFFFFF;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin: 0 0 0 auto;
  border: none;
}
#ct-contact .ct-contact-row .ct-contact-form form input[type=submit]:hover {
  background-color: #1F3044;
}

#ct-footer {
  padding: 40px 0;
  background-color: #1F3044;
  color: #FFFFFF;
}
#ct-footer a {
  transition: all 0.4s;
}
#ct-footer a:hover {
  color: #CB935D;
}
#ct-footer .ct-footer-logo {
  text-align: center;
  margin-bottom: 20px;
}
#ct-footer .ct-footer-logo img {
  width: auto;
  height: 24px;
}
#ct-footer .ct-footer-links {
  margin-bottom: 20px;
}
#ct-footer .ct-footer-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
#ct-footer .ct-footer-links ul li {
  display: inline-block;
  margin: 0 10px;
}
#ct-footer .ct-footer-social {
  margin-bottom: 20px;
}
#ct-footer .ct-footer-social ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
#ct-footer .ct-footer-social ul li {
  display: inline-block;
  margin: 0 10px;
}
#ct-footer .ct-footer-social ul li a {
  font-size: 24px;
}
#ct-footer .ct-footer-copyright {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}/*# sourceMappingURL=ct-main.css.map */