// Fonts
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap')

// Colour palette
$white: #FFFFFF
$black: #000000
$blue: #1F3044
// $blue: #0071BA
$orange: #CB935D
$beige: #F2F2F2
$beige-gray: #EDEDE4

// Media queries
@mixin tablet
    @media screen and (min-width: 481px) and (max-width: 768px)
        @content

@mixin mobile
    @media screen and (min-width: 320px) and (max-width: 480px)
        @content

// Mixins
@mixin transition
    transition: all 0.4s
@mixin button
    display: block
    width: max-content
    font-size: 18px
    font-weight: bold
    padding: 5px 30px
    @include transition

body
    font-family: "Libre Franklin", sans-serif

h1, h2
    font-family: "Libre Baskerville", serif

.ct-container
    width: 100%
    max-width: 920px
    margin: 0 auto
    @include tablet
        padding: 0 20px
    @include mobile
        padding: 0 10px

.ct-orange
    color: $orange

.ct-button
    @include button
    background-color: $blue
    color: $white
    border: 2px solid $orange
    &:hover, &:active, &:focus
        background-color: $orange
        color: $white

.ct-button-light
    @include button
    background-color: $beige
    color: $orange
    border: 2px solid $orange
    &:hover, &:active, &:focus
        background-color: $orange
        color: $white

.ct-button-light-white
    @include button
    background-color: transparent
    color: $white
    border: 2px solid $white
    &:hover, &:active, &:focus
        background-color: $white
        color: $blue

.ct-mobile-burger
    position: fixed
    top: 30px
    right: 30px
    display: none
    justify-content: center
    align-items: center
    width: 40px
    height: 40px
    background-color: $beige-gray
    color: $blue
    border-radius: 50%
    z-index: 9998
    cursor: pointer
    @include mobile
        display: flex
    i
        font-size: 26px

.ct-mobile-menu
    display: none
    position: fixed
    width: 100%
    height: 100%
    background-color: rgba($blue, 0.95)
    color: $beige-gray
    text-align: center
    padding: 20px
    box-sizing: border-box
    z-index: 9999
    img
        width: 50px
        height: auto
    ul
        margin: 40px 0
        li
            margin: 0 0 10px 0
            a
                font-family: "Libre Baskerville", serif
                font-size: 36px
                font-weight: bold
                &:hover
                    color: $orange
    .ct-mobile-menu-icons
        display: flex
        justify-content: center
        a
            font-size: 30px
            margin: 10px
    .ct-mobile-menu-close
        display: flex
        justify-content: center
        align-items: center
        width: 50px
        height: 50px
        background-color: $beige-gray
        color: $blue
        border-radius: 50%
        margin: 0 auto
        cursor: pointer
        i
            font-size: 26px

.ct-navbar
    position: fixed
    top: 0
    left: 0
    width: 100%
    background-color: transparent
    color: white
    border-bottom: 1px solid rgba($white, 0.2)
    padding: 20px 0
    z-index: 9997
    @include transition
    @include mobile
        padding: 15px 0
    a
        font-size: 16px
        color: white
        @include transition
        @include mobile
            font-size: 14px
    .ct-navbar-row
        display: flex
        flex-direction: column
        .ct-navbar-logo
            text-align: center
            margin-bottom: 10px
            @include mobile
                margin-bottom: 0
            img
                width: auto
                height: 180px
                @include transition
                @include mobile
                    width: auto
                    height: 120px
        .ct-navbar-menu
            @include mobile
                display: none
            ul
                list-style: none
                margin: 0
                padding: 0
                text-align: center
                li
                    display: inline-flex
                    margin: 0 10px
                    a
                        line-height: normal
                        &:hover
                            color: $orange
                        &.ct-navbar-icon
                            font-size: 22px
.ct-navbar-scroll
    background-color: rgba($blue, 1)
    border-bottom: 1px solid rgba($white, 0)
    padding: 10px 0
    .ct-navbar-row
        flex-direction: row
        justify-content: center
        align-items: center
        .ct-navbar-logo
            img
                width: auto
                height: 80px
        .ct-navbar-menu
            ul
                li
                    a
                        font-size: 14px
                        &.ct-navbar-icon
                            font-size: 18px

#ct-hero
    .ct-slider
        position: relative
        min-height: 100vh
        background-color: $blue
        .ct-slide
            position: absolute
            display: flex
            justify-content: center
            align-items: center
            width: 100%
            height: 100%
            @include transition
            .ct-container
                text-align: center
                h1
                    font-size: 48px
                    line-height: 1.1
                    @include mobile
                        font-size: 32px
                h2
                    font-size: 20px
                    letter-spacing: 1.5px
                    @include mobile
                        font-size: 16px
                a.ct-button-light-white
                    margin: 80px auto 0 auto
                .divider
                    width: 20%
                    height: 1px
                    background-color: $white
                    margin: 10px auto
            &.ct-slide-1
                background: linear-gradient(rgba($blue, 0.6), rgba($blue, 0.6)), url("../../assets/images/slide-1.webp")
                background-size: cover
                background-position: center
                color: $white
            &.ct-slide-2
                background: linear-gradient(rgba($blue, 0.6), rgba($blue, 0.6)), url("../../assets/images/slide-2.webp")
                background-size: cover
                background-position: center
                color: $white
            &.ct-slide-3
                background: linear-gradient(rgba($blue, 0.6), rgba($black, 0.6)), url("../../assets/images/slide-3.webp")
                background-size: cover
                background-position: center
                color: $white
        .ct-slider-prev, .ct-slider-next
            position: absolute
            display: flex
            justify-content: center
            align-items: center
            width: 50px
            height: 50px
            border-radius: 50%
            top: 50%
            transform: translateY(-50%)
            background-color: rgba($white, 0.05)
            color: $white
            z-index: 999
            cursor: pointer
            @include transition
            &:hover
                background-color: rgba($white, 0.1)
            i
                font-size: 30px
        .ct-slider-prev
            left: 10px
        .ct-slider-next
            right: 10px
        .ct-slider-go-down
            position: absolute
            bottom: 50px
            display: flex
            justify-content: center
            align-items: center
            width: 80px
            height: 80px
            border-radius: 50%
            left: 50%
            transform: translateX(-50%)
            background-color: rgba($white, 0.1)
            color: $white
            font-size: 40px
            z-index: 999

#ct-about
    position: relative
    background-color: $beige
    color: $black
    padding: 80px 0
    .ct-about-arrow
        position: absolute
        left: 50%
        transform: translateX(-50%)
        display: flex
        justify-content: center
        align-items: center
        width: 100px
        height: 100px
        background-color: $beige
        color: $blue
        border-radius: 50%
        margin: 0 auto
        margin-top: -120px
        margin-bottom: 50px
        @include mobile
            width: 80px
            height: 80px
            margin-top: -110px
        i
            font-size: 80px
            @include mobile
                font-size: 60px
    h2
        font-size: 50px
        text-align: center
        @include mobile
            font-size: 36px
    h3
        font-size: 16px
        font-weight: bold
        text-align: center
        letter-spacing: 1.2px
        @include mobile
            font-size: 12px
    p
        width: 100%
        max-width: 700px
        font-size: 16px
        text-align: center
        margin: 0 auto
    a.ct-button-light
        margin: 40px auto 0 auto
    .ct-about-cards
        display: grid
        grid-template-columns: repeat(3, 1fr)
        margin: 40px 0
        @include mobile
            grid-template-columns: 1fr
        .ct-about-card
            background-color: $white
            padding: 30px
            @include transition
            &:hover
                background-color: $orange
                color: $white
                .ct-about-card-header
                    i
                        color: $white
            .ct-about-card-header
                display: flex
                font-size: 22px
                font-weight: bold
                line-height: 1.1
                margin-bottom: 10px
                i
                    color: $orange
                    font-size: 30px
                    margin-right: 10px
                    @include transition
        .ct-about-card-featured
            background: $blue
            color: $white

#ct-quote
    background: linear-gradient(rgba($orange, 0.8), rgba($orange, 0.8)), url("../../assets/images/ct-quote.webp")
    background-size: cover
    background-position: center
    color: $white
    padding: 80px 0
    text-align: center
    img
        width: 100px
        height: auto
        margin-bottom: 20px
        @include mobile
            width: 80px
            height: auto
    h2
        font-size: 42px
        line-height: normal
        margin-bottom: 40px
        @include mobile
            font-size: 24px
    a.ct-button
        margin: 0 auto

#ct-services
    background-color: $beige
    padding: 80px 0
    h2
        font-size: 50px
        text-align: center
        @include mobile
            font-size: 36px
    h3
        font-size: 16px
        font-weight: bold
        text-align: center
        letter-spacing: 1.2px
        @include mobile
            font-size: 12px
    p
        width: 100%
        max-width: 700px
        font-size: 16px
        text-align: center
        margin: 0 auto
    .ct-services-cards
        display: grid
        grid-template-columns: repeat(2, 1fr)
        gap: 10px
        margin: 40px 0
        @include mobile
            grid-template-columns: 1fr
        .ct-services-card
            display: grid
            grid-template-columns: 1fr 120px
            gap: 10px
            background-color: $beige-gray
            padding: 20px
            @include transition
            @include tablet
                grid-template-columns: 1fr 100px
            @include mobile
                grid-template-columns: 1fr 80px
            &:hover
                background-color: $blue
                color: $white
                .ct-services-card-icon
                    background-color: $beige-gray
                    color: $blue
            .ct-services-card-body
                h3
                    font-size: 22px
                    text-align: left
                    line-height: normal
                    @include mobile
                        font-size: 20px
                p
                    font-size: 12px
                    text-align: left
                    margin-bottom: 0
            .ct-services-card-icon
                display: flex
                justify-content: center
                align-items: center
                background-color: $blue
                color: $beige
                width: 120px
                height: 120px
                border-radius: 50%
                @include transition
                @include tablet
                    width: 100px
                    height: 100px
                @include mobile
                    width: 80px
                    height: 80px
                i
                    font-size: 40px
                    @include mobile
                        font-size: 30px
    a.ct-button-light
        margin: 0 auto

#ct-process
    background: linear-gradient(rgba($blue, 0.8), rgba($blue, 0.8)), url("../../assets/images/ct-process.webp")
    background-size: cover
    background-position: center
    color: $white
    padding: 80px 0
    h2
        font-size: 50px
        text-align: center
        @include mobile
            font-size: 36px
    p
        width: 100%
        max-width: 700px
        font-size: 16px
        text-align: center
        margin: 0 auto
        margin-bottom: 40px
    .ct-process-cards
        display: flex
        flex-direction: column
        .ct-process-card
            display: grid
            grid-template-columns: auto 1fr
            gap: 10px
            width: 100%
            max-width: 400px
            background-color: $blue
            padding: 15px
            border: 1px dashed $orange
            margin-bottom: 15px
            @include transition
            &:hover
                background-color: $orange
                .ct-process-card-icon
                    background-color: $blue
                    color: $orange
            .ct-process-card-icon
                display: flex
                justify-content: center
                align-items: center
                background-color: $orange
                color: $blue
                font-size: 30px
                font-weight: bold
                width: 50px
                height: 50px
                border-radius: 50%
                margin-left: -40px
                @include transition
                @include mobile
                    width: 30px
                    height: 30px
                    font-size: 20px
                    margin-left: 0
            .ct-process-card-body
                h3
                    font-size: 20px
                    line-height: normal
                    margin-bottom: 10px
                    @include mobile
                        font-size: 16px
                p
                    font-size: 14px
                    text-align: left
                    margin-bottom: 0
        .ct-process-card-1
            align-self: flex-start
        .ct-process-card-2
            align-self: center
            margin-right: 200px
            @include tablet
                margin-right: 100px
            @include mobile
                margin-right: 0
        .ct-process-card-3
            align-self: center
            margin-left: 200px
            @include tablet
                margin-left: 100px
            @include mobile
                margin-left: 0
        .ct-process-card-4
            align-self: flex-end

#ct-clients
    padding: 80px 0
    background: linear-gradient(rgba($orange, 0.9), rgba($orange, 0.9)), url("../../assets/images/ct-clients.webp")
    background-size: cover
    background-position: top center
    background-attachment: fixed
    color: $white
    h2
        font-size: 50px
        text-align: center
        margin-bottom: 10px
        @include mobile
            font-size: 36px
    h3
        font-size: 24px
        text-align: center
        @include mobile
            font-size: 16px
    .ct-clients-row
        display: flex
        justify-content: center
        flex-wrap: wrap
        margin: 60px 0 40px 0
        img
            opacity: 0.8
            margin-bottom: 20px
            cursor: pointer
            @include transition
            &:hover
                opacity: 1
                transform: scale(1.2)
    a.ct-button-light-white
        margin: 0 auto